# dependencies
node_modules/
package-lock.json

backend/ml_engine/__pycache__/
backend/ml_engine/models/
backend/data/
backend/data/logs

backend/db.sqlite3
backend/config/__pycache__
backend/ml_engine/__pycache__
backend/recs_api/__pycache__
