.mainContainer {
    width: 100vw;
    min-height: 100vh;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchContainer {
    width: 100%;
    max-width: 42rem;
}

.searchRaised {
    transform: translateY(-40px);
}

.uploadButton {
    width: 230px;
    height: 50px;
    margin: 0px 221px 18px;
    padding: 12px 24px;
    background-color: #f59e0b;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1)
}

.uploadButton:hover {
    background-color: #d97706;
    transform: scale(1.05);
}

.progressBarContainer {
    width: 230px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressBar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #f59e0b;
    appearance: none;
}

.progressBar::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 10px;
}

.progressBar::-webkit-progress-value {
    background-color: #f59e0b;
    border-radius: 10px;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;}

.searchInput {
    width: 100%;
    height: 60px;
    padding: 16px 64px 16px 24px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 40px;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.searchInput:focus {
    outline: none;
}

.searchButton {
    position: absolute;
    right: 8px;
    width: 48px;
    height: 48px;
    background-color: #f59e0b;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1)
}

.searchButton:hover {
    background-color: #d97706;
}

.resultsContainer {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    width: 100%;
    gap: 20px;
    transition: all 0.3s ease;
    scrollbar-width: thin;
    scrollbar-color: #F97316 #FFEDD5;
    scroll-behavior: smooth;
    margin-top: 16px;
    justify-content: center;
}

.bottomButtonsContainer {
    width: 100%;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.clearButton {
    padding: 12px 24px;
    background-color: #6b7280;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1)
}

.clearButton:hover {
    background-color: #4b5563;
    transform: scale(1.05);
}
